.maintext {
	position:relative !important;
    top:120px !important;
    padding-bottom:8px ; 
}


.maintopic{
		position:relative;
	    top:90px;
		margin-top:40px;
}

.allproject{
	margin-top:100px !important;
}

.image-of-project{
    margin-bottom: 24px ; 
    border: 1px solid  #aaaaaa ; 
}


.single-post .featured-img figure{
    margin: 0;
}

.single-post .featured-img figure img {
    width: 100%;
}

/* .single-post h1,p { 
    color:white;
} */

 .sp-selected-thumbnail {
	border: 4px solid #292929;
}

.main-slider{ 
    padding-bottom: 50px ; 
}
.description-header{ 
    padding-bottom: 20px
}

.description-title{ 
    font-size: 22px ; 
    font-weight: bold ; 
}
.side-header{ 
    /* font-weight: bold;   */
    padding-top:80px ; 
    font-size: 24px ; 
    padding-bottom: 30px; 
}
.other-projects-slider { 
    padding-bottom: 50px  
}

.image-name-shade { 
    width:100% ; 
    height: 30%; 
    color: white; 
    position:  absolute;
    bottom: 0 ; 
    left: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)); /* Standard syntax (must be last) */

}
.sub-slider{ 
    padding-bottom: 50px ; 
}
.image-name{
    position: relative;
    padding-left: 3% ; 
    top : 45% ;
    font-size: 19px 
}
.image-sub-name{
    position: relative;
    padding-left:3% ; 
    top : 25% ; 
    font-size: 13px ; 
}
/* 
.sp-black { 
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)); 
} */
/* .sp-slide img { 
    display: none ;
    
}
.sp-selected img {
    display: block ; 
    -webkit-transition-duration: 500ms;
	transition-duration: 500ms;

} */
